* {
    padding: 0px;
    margin: 0px;
}

.navbtn {
    width: 200px;
    height: 150px;
    cursor: pointer;
}

@media only screen and (max-width: 512px){
    .navbtn {
        background-color: yellow;
        display: block;
    }
}

@media only screen and (min-width: 513px) and (max-width: 1023px){
    .navbtn {
        background-color: blue;
        display: block;
    }
}

@media only screen and (min-width: 1024px){
    .navbtn {
        background-color: red;
    }
}


